WB_API_TOKEN=
WB_FINANCE_TOKEN=
WB_ADV_TOKEN=

GOOGLE_SERVICE_ACCOUNT_FILE=/run/secrets/google-service-account.json
GOOGLE_SPREADSHEET_ID=
GOOGLE_RAW_SALES_SHEET=raw_sales
GOOGLE_RAW_ORDERS_SHEET=raw_orders
GOOGLE_RAW_ADS_SHEET=raw_ads
GOOGLE_DAILY_PNL_SHEET=daily_pnl
GOOGLE_COGS_SHEET=SKU
GOOGLE_FUNNEL_ANALYTICS_SHEET=funnel_analytics

ARTICLE_FILTER_TYPE=nmId
ARTICLE_FILTER_VALUES=
SQLITE_DB_PATH=data/wb_sync.db

WB_SITE_PASSWORD=
WEB_PUBLIC_PORT=80
