WB_API_TOKEN=
WB_FINANCE_TOKEN=
WB_ADV_TOKEN=

RAW_SALES_TABLE=raw_sales
RAW_ORDERS_TABLE=raw_orders
RAW_ADS_TABLE=raw_ads
DAILY_PNL_TABLE=daily_pnl
SKU_TABLE=SKU
FUNNEL_ANALYTICS_TABLE=funnel_analytics

ARTICLE_FILTER_TYPE=nmId
ARTICLE_FILTER_VALUES=
SQLITE_DB_PATH=data/cabs/ewb.db

WB_SITE_PASSWORD=
WEB_PUBLIC_PORT=80
